<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
		<h3>应付金额：</h3>
      <center><h1>￥{$amount}</h1></center>
    <div class="col-xs-12 col-sm-6" hidden="hidden" >
      <input id="c-amount_c"  class="form-control" name="row[amount_c]" type="number" value="{$amount}">
	 </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">{:__('Paymentmode')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input id="c-paymentmode" class="form-control selectpage" data-source="base/pay/paymentmode" data-field="paymentmode" data-primary-key="paymentmode" name="row[paymentmode]" type="text" value="现金">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">{:__('Amount')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input id="c-amount" class="form-control" name="row[amount]" type="number" value="0">
        </div>
        <div class="col-xs-12 col-sm-2">
           <button type="button" class="btn btn-success btn-pay " >{:__('Add')}</button>
           <button type="button" class="btn btn-del btn-del " >{:__('Del')}</button>
          
       </div>
    </div>
    
    
    <table width="400" cellspacing="2" id="table1" style="font-size:14px; border:1px solid #cad9ea;margin:0 auto;margin-top:20px">
		<tr bgcolor="#90EE90" height=30>
			<td>序号</td>
			<td>支付方式</td>
			<td>支付金额</td>
			<td>备注</td>
		</tr>
		<tr  height=30>
			<td>1</td>
			<td>现金</td>
			<td>{$amount}</td>
			<td></td>
		</tr>
	</table>

<div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-4"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn btn-success btn-accept ">{:__('OK')}</button>
            <label class="control-label col-xs-12 col-sm-2"></label>
         
        </div>
    </div>
</form>
