<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_code" class="form-control" name="row[statement_code]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_date" class="form-control" name="row[statement_date]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_plate_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_plate_number" class="form-control" name="row[statement_plate_number]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_mototype')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_mototype" class="form-control" name="row[statement_mototype]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_product_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_product_id" data-rule="required" data-source="statement/product/index" class="form-control selectpage" name="row[statement_product_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_custom_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_custom_id" data-rule="required" data-source="statement/custom/index" class="form-control selectpage" name="row[statement_custom_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_customtype')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_customtype" class="form-control" name="row[statement_customtype]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_gw')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_GW" class="form-control" name="row[statement_GW]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_tare')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_tare" class="form-control" name="row[statement_tare]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_nw')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_NW" class="form-control" name="row[statement_NW]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_product_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_product_price" class="form-control" name="row[statement_product_price]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_discount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_discount" class="form-control" name="row[statement_discount]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_cost')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_cost" class="form-control" name="row[statement_cost]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_intime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_intime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[statement_intime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_outtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_outtime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[statement_outtime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_remark" class="form-control" name="row[statement_remark]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_indetail_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_indetail_id" data-rule="required" data-source="statement/indetail/index" class="form-control selectpage" name="row[statement_indetail_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_outdetail_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_outdetail_id" data-rule="required" data-source="statement/outdetail/index" class="form-control selectpage" name="row[statement_outdetail_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_checker')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statement_checker" class="form-control" name="row[statement_checker]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statement_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statementStatusList" item="vo"}
            <label for="row[statement_status]-{$key}"><input id="row[statement_status]-{$key}" name="row[statement_status]" type="radio" value="{$key}" {in name="key" value="0"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Company_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-company_id" data-rule="required" data-source="company/index" class="form-control selectpage" name="row[company_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
