<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
    <form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    
    <table width="95%"  class="gridtable">
	 <thead>
		<center><h3>交班表</h3></center>
		
		<tr>
			<td>{:__('Handovers_operator')}:</td>
			<td >{$row.handovers_operator|htmlentities}</td>
			<td>{:__('Handovers_begintime')}:</td>
			<td>{$row.handovers_begintime?datetime($row.handovers_begintime):''}</td>
			<td>{:__('Handovers_endtime')}:</td>
			<td colspan='2'>{$row.handovers_endtime?datetime($row.handovers_endtime):''}</td>
		</tr>
		<tr>
			<td>{:__('Handovers_successor')}:{$row.handovers_successor|htmlentities}</td>
			<td>{:__('交班类型')}:</td>
			<td colspan='5'>
			<div class="col-xs-12 col-sm-2">
			<div class="radio">
            <label><input id="row[handovers_type]-0" name="row[handovers_type]" type="radio" value="0"  {in name="0" value="$row.handovers_type"}checked{/in} />交下班 </label>
				<label><input id="row[handovers_type]-1" name="row[handovers_type]" type="radio" value="1" {in name="1" value="$row.handovers_type"}checked{/in}  />交财务 </label>
   
            </div>
            </div>
            </td>
			
		
			<td colspan='2'><button type="button" class="btn btn-success btn-embossed btn-print">{:__('打印')}</button></td>
		</tr>

	</table>	
      
 </form>  
   <div class="form-group">
         <div class="col-xs-12 col-sm-11">
           <div class="widget-body no-padding">
    			
   			<table id="table1" class="table table-striped table-bordered table-hover table-nowrap"
            	data-operate-edit="{:$auth->check('financial/payment/edit')}" 
               data-operate-del="{:$auth->check('financial/payment/del')}" 
           	  	width="100%">
         	</table>
         </div>
    		</div>
    </div>
    
    </div>
</div>
